.ratio-169 {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 20px;
}

.hover-cus {
    position: relative;
}

.hover-cus img {
    position: absolute;
    top: 0;
    transition: all 0.5s;
}

.hover-cus:hover img {
    transform: scale(1.25);
    z-index: 0;
}

.hover-cus p {
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color: rgba(var(--blacksus), 0.8);
    color: white;
    transform: translateY(100%);
    transition: all 0.5s;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-cus:hover p {
    transform: translateY(0);
}