@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  min-height: 100%;
}

@layer base {
  :root {
    --animate-delay: 0.5s;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --browncus: 175, 130, 96;
    --marooncus: 128, 61, 59;
    --beigecus: 228, 197, 158;
    --blacksus: 50, 44, 43;

    --main-text: 17, 45, 78;
    --sub-text: 63, 114, 175;
    --main-background: 249, 247, 247;
    --sub-background: 219, 226, 239;
    --contrast: 92.68, 47.06%, 46.67%;

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Roboto.woff2) format('woff2');
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --browncus: 175, 130, 96;
    --marooncus: 128, 61, 59;
    --beigecus: 228, 197, 158;
    --blacksus: 50, 44, 43;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  width: 0;
}

.animate-process {
  animation: progress 1ms alternate;
  animation-timeline: scroll();
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.flex-center {
  @apply flex items-center justify-between text-center;
}

.tiptap {
  @apply min-h-64 w-full border-2 rounded-md outline-none bg-background px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:border-black duration-100;
}

.tiptap ul,
.tiptap ol {
  @apply px-4 py-0 my-5 ml-1 list-disc;
}

.tiptap ol {
  @apply px-4 py-0 my-5 ml-1 list-decimal;
}

.tiptap ul li p,
.tiptap ol li p {
  @apply my-1;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply leading-tight my-2;
}

/* .tiptap h1,
.tiptap h2 {
  @apply mt-14 mb-6;
} */

/* .tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply mt-2;
} */

.tiptap img {
  @apply h-auto aspect-video my-6 max-w-md;
}

.tiptap img.ProseMirror-selectednode {
  @apply outline-2 border-purple-500;
}

.tiptap .tiptap h1 {
  @apply text-2xl;
}

.tiptap h2 {
  @apply text-xl;
}

.tiptap h3 {
  @apply text-lg;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply text-base;
}

.tiptap code {
  @apply bg-purple-200 rounded-md text-black text-sm px-1 py-0.5;
}

.tiptap pre {
  @apply bg-black rounded-lg text-white font-mono my-6 px-4 py-3;
}

.tiptap pre code {
  @apply bg-transparent text-inherit text-xs p-0;
}

.tiptap blockquote {
  @apply border-l-4 border-gray-300 my-6 pl-4;
}

.tiptap hr {
  @apply border-0 border-t border-gray-200 my-8;
}

.bubble-menu,
.floating-menu {
  @apply bg-white border border-gray-200 rounded shadow p-1 flex w-fit gap-1;
}

.bubble-menu button,
.floating-menu button {
  @apply bg-transparent px-2 py-1 rounded;
}

.bubble-menu button:hover,
.floating-menu button:hover {
  @apply bg-gray-300;
}

.bubble-menu button.is-active,
.floating-menu button.is-active {
  @apply bg-purple-500 text-white;
}

.bubble-menu button.is-active:hover,
.floating-menu button.is-active:hover {
  @apply bg-purple-700;
}

.detail__content h1 {
  @apply text-2xl;
}

.detail__content h2 {
  @apply text-xl;
}

.detail__content h3 {
  @apply text-lg;
}